* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: 0;
  cursor: pointer;
}

/* сам контейнер */
.header {
  position: relative;

  width: 100%;
  max-width: 850px;

  margin: 25px auto 0 auto;
  padding: 8px 15px;

  border: 2px solid #1e81b0;
  border-radius: 15px;
}
/* декорация контента внутри контейнера */
.header_ {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* декорация для логотипа */
.logo {
  font-size: 25px;
}

/* отступы между ссылками меню */
.link {
  margin-left: 30px;
}



.menu_ {
  display: none;
}

@media (max-width: 500px) {
  .nav {
    display: none;
    position: absolute;

    top: 100%;
    left: 0;

    width: 100%;
  }

  .nav.active {
    display: block;
  }

  .link {
    display: block;
    text-align: center;

    margin-left: 0;
    padding: 8px 12px;
  }


  .menu_ {
    display: block;
    font-size: 0;

    position: relative;
    width: 35px;
    height: 3px;

    background-color: #21130d;
  }

  /* цвет для кнопки выпадающего меню */
  .menu_.active {
    background-color: black;
  }

  

  

  .menu_::before,
  .menu_::after {
    content: "";
    display: block;

    position: absolute;

    width: 100%;
    height: 3px;

    background-color: #21130d;
    transition: transform 0.2s linear,
                background-color 0.2s linear;
  }

  .menu_::before {
    top: -8px;
    left: 0;
  }

  .menu_::after {
    bottom: -8px;
    right: 0;
  }
}
